.category
{
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-family: Arial, Helvetica, sans-serif;
    /* border: 1px solid rgba(0, 0, 0, 0.1); */
    padding: 10px;
}
.category-title
{
    font-weight: 600;
    font-size: 26px;
    /* background-color:aqua; */
    text-align: left;
    padding: 10px;
}

.category-items
{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 40px;
    padding: 10px;
    cursor: pointer;
    /* border: #45a049 solid 1px; */
}
.co-1
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
    /* border: 1px solid red; */
}
.co-2
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
    /* border: 1px solid red; */
}
.category-item
{
    padding: 10px;
    border-radius: 5px;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.1);
    font-size: 14px;
    font-weight: lighter;
    background-color: white;
    /* border: #45a049 solid 1px;  */
    width: 200px;
    height: 260px;
    overflow: visible;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.category-item div
{
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    font-size: 12px;
    font-weight: lighter;
    /* background-color: rgba(113, 252, 86, 0.653); */
    width: 180px;
    height: 200px;
    margin-bottom: 10px;
    /* overflow: visible; */
    flex-direction: column;
}
.icon-title
{
    font-weight: 600;
    font-size: 16px;
    text-align: center;
    padding: 10px;
    /* background-color: blueviolet; */
}
.icon-des
{
    font-weight: lighter;
    color: grey;
    text-align: center;
    font-size: 14px;
    /* border: #45a049 solid 1px; */
    /* padding: 10px; */
    /* background-color: lightblue; */
}
.category-link
{
    text-decoration: none;
    color: black;
    /* border: 1px solid rgba(0, 0, 0, 0.1); */
}

.el-icon
{
    width: 140px;
    height: 150px;
    font-size: 50px;
 }